@model List<FinalPrueba.Models.TicketDetalle>
@{
    ViewData["Title"] = "DetallesPorTicket";
}

<h1>Detalles de Ticket Pendientes de Resolución</h1>


<table class="table">
    <thead>
        <tr>
            <th>Descripción de Pedido</th>
            <th>Estado</th>
            <th>Fecha de estado</th>
            <!-- Agrega aquí otros encabezados de columna si es necesario -->
        </tr>
    </thead>
    <tbody>
        @foreach (var detalle in Model)
        {
            <tr>
                <td>@detalle.descripcionPedido</td>
                <td>@(detalle.estado.resolucion ? "Resuelto" : "No Resuelto")</td>
                <td>@detalle.fechaEstado</td>
                <!-- Agrega aquí otras columnas de detalles según tus necesidades -->
            </tr>
        }
    </tbody>
</table>
